In [2]:
# on importe le package pandas
import pandas as pd

#chargement des donn√©es
athletes = pd.read_csv('athlete_events.csv')
noc = pd.read_csv('noc_regions.csv')


#fusion des deux tableaux
data = pd.merge(athletes, noc, how='left', on='NOC')
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

In [3]:
# on ne garde que les places en podium
data_medals = data.dropna(subset = ['Medal'])
data_medals

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze,Finland,NaN
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze,Finland,NaN
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze,Finland,NaN
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze,Finland,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver,Russia,NaN
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze,Russia,NaN
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze,Poland,NaN
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze,Russia,NaN
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver,Russia,NaN

In [4]:
# on calcule le nombre de m√©dailles par sport, par pays
grouped = data_medals.groupby(['NOC','Sport']).size().reset_index(name='podium_count')
grouped

# savoir expliquer pq c'est .size()

      NOC      Sport  podium_count
0     AFG  Taekwondo             2
1     AHO    Sailing             1
2     ALG  Athletics             9
3     ALG     Boxing             6
4     ALG       Judo             2
...   ...        ...           ...
1444  YUG  Wrestling            16
1445  ZAM  Athletics             1
1446  ZAM     Boxing             1
1447  ZIM     Hockey            15
1448  ZIM   Swimming             7

[1449 rows x 3 columns]

In [5]:
# on s√©lectionne le sport avec le plus de m√©dailles pour chaque pays
max_podium = grouped.groupby('NOC')['podium_count'].max().reset_index(name="max_podium")
max_podium

     NOC  max_podium
0    AFG           2
1    AHO           1
2    ALG           9
3    ANZ          15
4    ARG          81
..   ...         ...
144  VIE           2
145  WIF           5
146  YUG          84
147  ZAM           1
148  ZIM          15

[149 rows x 2 columns]

In [6]:
# on calcule le nombre total de m√©dailles/podiums par pays
total_podium = grouped.groupby('NOC')['podium_count'].sum().reset_index(name='total_podium')
total_podium

     NOC  total_podium
0    AFG             2
1    AHO             1
2    ALG            17
3    ANZ            29
4    ARG           274
..   ...           ...
144  VIE             4
145  WIF             5
146  YUG           390
147  ZAM             2
148  ZIM            22

[149 rows x 2 columns]

In [7]:
#on fusionne dans un tableau
specialisation = pd.merge(max_podium, total_podium, on='NOC')
specialisation

     NOC  max_podium  total_podium
0    AFG           2             2
1    AHO           1             1
2    ALG           9            17
3    ANZ          15            29
4    ARG          81           274
..   ...         ...           ...
144  VIE           2             4
145  WIF           5             5
146  YUG          84           390
147  ZAM           1             2
148  ZIM          15            22

[149 rows x 3 columns]

In [8]:
# on calcule le ratio de sp√©cialisation de chaque pays. 
specialisation['ratio_specialisation'] = specialisation['max_podium'] / specialisation['total_podium']
specialisation

     NOC  max_podium  total_podium  ratio_specialisation
0    AFG           2             2              1.000000
1    AHO           1             1              1.000000
2    ALG           9            17              0.529412
3    ANZ          15            29              0.517241
4    ARG          81           274              0.295620
..   ...         ...           ...                   ...
144  VIE           2             4              0.500000
145  WIF           5             5              1.000000
146  YUG          84           390              0.215385
147  ZAM           1             2              0.500000
148  ZIM          15            22              0.681818

[149 rows x 4 columns]

In [9]:
# on affiche les pays avec le plus fort taux de sp√©cialisation
print(specialisation.sort_values(by='ratio_specialisation', ascending = False).head())

    NOC  max_podium  total_podium  ratio_specialisation
0   AFG           2             2                   1.0
1   AHO           1             1                   1.0
16  BOT           1             1                   1.0
10  BAR           1             1                   1.0
11  BDI           2             2                   1.0

In [17]:
# on affiche les pays avec le plus faible taux de sp√©cialisation
spe_asc = specialisation.sort_values(by='ratio_specialisation', ascending = True)
spe_asc

     NOC  max_podium  total_podium  ratio_specialisation
112  RUS         103          1165              0.088412
40   EUN          30           279              0.107527
49   GER         236          2165              0.109007
22   CHN         109           989              0.110212
139  URS         288          2503              0.115062
12   BEL          54           468              0.115385
138  UKR          23           199              0.115578
44   FRG          71           586              0.121160
120  SUI          92           691              0.133140
123  SWE         217          1536              0.141276
105  POL          82           565              0.145133
74   KOR          96           638              0.150470
86   MEX          17           110              0.154545
37   ESP          77           489              0.157464
14   BLR          22           139              0.158273
98   NOR         164          1033              0.158761
46   GBR         338          2068              0.163443
43   FRA         310          1777              0.174451
70   JPN         166           913              0.181818
47   GDR         184          1005              0.183085
31   DEN         111           597              0.185930
141  USA        1080          5637              0.191591
42   FIN         174           900              0.193333
19   BUL          69           342              0.201754
57   HUN         236          1135              0.207930
25   COL           6            28              0.214286
146  YUG          84           390              0.215385
51   GRE          55           255              0.215686
67   ITA         359          1637              0.219304
38   EST          11            50              0.220000
111  RSA          31           131              0.236641
106  POR          10            41              0.243902
94   NED         255          1040              0.245192
116  SLO          12            48              0.250000
85   MDA           2             8              0.250000
129  TJK           1             4              0.250000
7    AUT         114           450              0.253333
107  PRK          17            67              0.253731
78   LAT           9            35              0.257143
20   CAN         348          1352              0.257396
110  ROU         175           653              0.267994
28   CUB         112           409              0.273839
126  TCH         139           488              0.284836
71   KAZ          22            77              0.285714
17   BRA         136           475              0.286316
4    ARG          81           274              0.295620
99   NZL          69           228              0.302632
6    AUS         401          1320              0.303788
27   CRO          46           149              0.308725
30   CZE          45           144              0.312500
124  SYR           1             3              0.333333
87   MGL           9            26              0.346154
82   LUX           3             8              0.375000
133  TUN           5            13              0.384615
113  SCG          25            64              0.390625
143  VEN           6            15              0.400000
35   EGY          11            27              0.407407
131  TPE          20            49              0.408163
142  UZB          14            34              0.411765
33   DOM           3             7              0.428571
62   IRL          16            35              0.457143
117  SRB          39            85              0.458824
128  THA          14            30              0.466667
140  URU          31            63              0.492063
15   BOH           6            12              0.500000
135  UAE           1             2              0.500000
147  ZAM           1             2              0.500000
144  VIE           2             4              0.500000
136  UAR           1             2              0.500000
5    ARM           8            16              0.500000
97   NIG           1             2              0.500000
104  PHI           5            10              0.500000
56   HKG           2             4              0.500000
96   NGR          50            99              0.505051
3    ANZ          15            29              0.517241
8    AZE          23            44              0.522727
2    ALG           9            17              0.529412
21   CHI          17            32              0.531250
65   ISR           5             9              0.555556
48   GEO          18            32              0.562500
137  UGA           4             7              0.571429
81   LTU          35            61              0.573770
109  QAT           3             5              0.600000
61   IRI          43            68              0.632353
134  TUR          63            95              0.663158
108  PUR           6             9              0.666667
23   CIV           2             3              0.666667
73   KGZ           2             3              0.666667
122  SVK          32            47              0.680851
148  ZIM          15            22              0.681818
58   INA          28            41              0.682927
55   HAI           5             7              0.714286
84   MAS          12            16              0.750000
79   LIB           3             4              0.750000
115  SGP           7             9              0.777778
103  PER          12            15              0.800000
24   CMR          18            22              0.818182
64   ISL          14            17              0.823529
83   MAR          19            23              0.826087
76   KSA           5             6              0.833333
50   GHA          20            23              0.869565
132  TTO          28            32              0.875000
59   IND         173           197              0.878173
9    BAH          36            40              0.900000
72   KEN          99           106              0.933962
100  PAK         119           121              0.983471
68   JAM         156           157              0.993631
39   ETH          53            53              1.000000
69   JOR           1             1              1.000000
34   ECU           2             2              1.000000
32   DJI           1             1              1.000000
1    AHO           1             1              1.000000
63   IRQ           1             1              1.000000
60   IOA           5             5              1.000000
53   GUA           1             1              1.000000
54   GUY           1             1              1.000000
52   GRN           2             2              1.000000
36   ERI           1             1              1.000000
41   FIJ          13            13              1.000000
45   GAB           1             1              1.000000
13   BER           1             1              1.000000
11   BDI           2             2              1.000000
10   BAR           1             1              1.000000
0    AFG           2             2              1.000000
16   BOT           1             1              1.000000
18   BRN           3             3              1.000000
26   CRC           4             4              1.000000
29   CYP           1             1              1.000000
127  TGA           1             1              1.000000
125  TAN           2             2              1.000000
121  SUR           2             2              1.000000
119  SUD           1             1              1.000000
118  SRI           2             2              1.000000
114  SEN           1             1              1.000000
102  PAR          17            17              1.000000
101  PAN           3             3              1.000000
80   LIE           9             9              1.000000
88   MKD           1             1              1.000000
90   MON           1             1              1.000000
89   MNE          14            14              1.000000
91   MOZ           2             2              1.000000
92   MRI           1             1              1.000000
93   NAM           4             4              1.000000
95   NEP           1             1              1.000000
77   KUW           2             2              1.000000
75   KOS           1             1              1.000000
66   ISV           1             1              1.000000
130  TOG           1             1              1.000000
145  WIF           5             5              1.000000

## observation 1
il pourrait √™tre int√©ressant de diviser en 10 groupes 
regroupant les pays selon la valeur de leur taux de sp√©cialisation
de 0,01 √† 0,1
de 0,1 √† 0,2
etc

et de voir g√©ographiquement si ils sont situ√©s proches.

## obvservation 2

il serait int√©ressant aussi de prend les pays en haut du classement et de voir la valeiur de leur taux de sp√©cialisation.

On remarque que les USA, bien qu'ils soient en t√™te du classement des m√©dailles, ont un taux de sp√©cialisation qui n'est pas en haut du classement. Cela signifie peut-√™tre que leur domination ne se fait pas dans tous les sports. Ce serait bien d'identifier les sports dans lesquels les USA excellent, et ceux dans lesquels ils ne sont pas bons. 

Il serait int√©ressant de voir le ratio de sp√©cialisation par zone g√©ographique. Je pense que l'Europe aura un ratio de sp√©cialisation plus faible, tandis que l'Afrique aura un ratio de sp√©cialisation plus √©lev√© (dans la course, l'athl√©tisme).

# obs 3

afficher par nombre de podiums totaux class√©s d√©croissant le ratio de sp√©cialisation

In [19]:
tab2 = specialisation.sort_values(by='total_podium', ascending = False)
print(tab2[['NOC', 'total_podium', 'ratio_specialisation' ]].head(30))

     NOC  total_podium  ratio_specialisation
141  USA          5637              0.191591
139  URS          2503              0.115062
49   GER          2165              0.109007
46   GBR          2068              0.163443
43   FRA          1777              0.174451
67   ITA          1637              0.219304
123  SWE          1536              0.141276
20   CAN          1352              0.257396
6    AUS          1320              0.303788
112  RUS          1165              0.088412
57   HUN          1135              0.207930
94   NED          1040              0.245192
98   NOR          1033              0.158761
47   GDR          1005              0.183085
22   CHN           989              0.110212
70   JPN           913              0.181818
42   FIN           900              0.193333
120  SUI           691              0.133140
110  ROU           653              0.267994
74   KOR           638              0.150470
31   DEN           597              0.185930
44   FRG           586              0.121160
105  POL           565              0.145133
37   ESP           489              0.157464
126  TCH           488              0.284836
17   BRA           475              0.286316
12   BEL           468              0.115385
7    AUT           450              0.253333
28   CUB           409              0.273839
146  YUG           390              0.215385

In [15]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [12]:
import os
import webbrowser

spe_asc.to_html("spe_asc.html")
file_path = os.path.abspath("spe_asc.html")
url = "file://" + file_path
print("URL g√©n√©r√©e :", url)

URL g√©n√©r√©e : file:///home/onyxia/work/doss_provisoire/spe_asc.html