In [44]:
import pandas as pd


noc_regions = pd.read_csv("noc_regions.csv")

In [45]:
import geopandas as gpd
import matplotlib.pyplot as plt

In [46]:
url = "https://naciscdn.org/naturalearth/110m/cultural/ne_110m_admin_0_countries.zip"
world = gpd.read_file(url)

world.head(5)

In [47]:
df = pd.read_csv("athlete_events.csv")

# on regroupe par pays
# on compte le nombre de médailles
# on sélectionne les pays n'ayant aucune médaille
# on crée une liste avec
# on sélectionner dans noc_regions seulement les pays avec des médailles

In [48]:
# liste de tous les pays
all_nocs = set(noc_regions['NOC'])

In [49]:
# liste des pays ayant gagné au moins une médaille
winners = set(df.loc[df['Medal'].notna(), 'NOC'])

In [50]:
# liste des pays n'ayant gagné aucune médaille
losers = all_nocs - winners

on modifie noc_regions pour ne garder que les pays qui ont gagné des médailles

In [51]:
# les pays ayant gagné des médailles

medal_countries = df.loc[df['Medal'].notna(), 'NOC'].unique()

In [52]:
# dataframe noc_regions mais avec que les pays vainqueurs 

noc_medals = noc_regions[noc_regions['NOC'].isin(medal_nocs)]

In [53]:
import pandas as pd

# supposons que vous ayez déjà :
#   world      = gpd.read_file(url)
#   medal_nocs = liste ou array de vos NOC qui ont gagné au moins une médaille

# 1. Construire la liste des colonnes de world à tester
candidates = [
    col for col in world.columns
    if col.upper().endswith(('_A2', '_A3', '_N3'))
       or col.upper().startswith(('WB_A2','WB_A3'))
       or 'SOV_' in col.upper()
       or 'ADM0_' in col.upper()
]

# 2. Pour chaque colonne, compter combien de valeurs figurent dans medal_nocs
matches = {
    col: world[col].isin(medal_nocs).sum()
    for col in candidates
}

# 3. Transformer en Series et trier pour voir le classement
best = pd.Series(matches).sort_values(ascending=False)
print(best)

ADM0_A3_ID    87
ADM0_A3_MA    87
ADM0_A3_RU    86
ADM0_A3_PS    86
ADM0_A3_IN    86
ADM0_A3_AR    86
ADM0_A3_EG    86
ADM0_A3_NP    86
ADM0_A3_FR    86
ADM0_A3_CN    86
ADM0_A3_PL    86
ADM0_A3_NL    86
ADM0_ISO      85
ADM0_A3_US    85
ADM0_A3_PK    85
ADM0_A3_IL    85
ADM0_A3_VN    85
ADM0_A3_SA    85
ADM0_A3_BR    85
ADM0_A3_GB    85
ADM0_A3_KO    85
ADM0_A3_JP    85
ADM0_A3_TR    85
ADM0_A3_PT    85
ADM0_A3_BD    85
ADM0_A3_GR    85
ADM0_A3_IT    85
ADM0_A3_SE    85
ADM0_A3_UA    85
ADM0_A3_DE    85
ADM0_A3_ES    85
GU_A3         84
ADM0_A3       84
SU_A3         84
ADM0_TLC      84
BRK_A3        84
ADM0_A3_TW    84
ISO_A3        81
WB_A3         81
SOV_A3        74
ADM0_DIFF      0
ISO_N3         0
UN_A3          0
WB_A2          0
ADM0_DIF       0
ISO_A2         0
ADM0_A3_UN     0
ADM0_A3_WB     0
dtype: int64

In [54]:
count_iso_a3 = world['ADM0_A3_ID'].isin(medal_nocs).sum()
count_iso_a3

np.int64(87)

In [55]:
pd.set_option('display.max_columns', None)

In [56]:
pd.set_option('display.max_row', None)

les colonnes qui m'intéressent =
* NAME_EN
* REGION 
* SUBREGION
* CONTINENT

In [57]:
world.head(5)

,featurecla,scalerank,LABELRANK,SOVEREIGNT,SOV_A3,ADM0_DIF,LEVEL,TYPE,TLC,ADMIN,ADM0_A3,GEOU_DIF,GEOUNIT,GU_A3,SU_DIF,SUBUNIT,SU_A3,BRK_DIFF,NAME,NAME_LONG,BRK_A3,BRK_NAME,BRK_GROUP,ABBREV,POSTAL,FORMAL_EN,FORMAL_FR,NAME_CIAWF,NOTE_ADM0,NOTE_BRK,NAME_SORT,NAME_ALT,MAPCOLOR7,MAPCOLOR8,MAPCOLOR9,MAPCOLOR13,POP_EST,POP_RANK,POP_YEAR,GDP_MD,GDP_YEAR,ECONOMY,INCOME_GRP,FIPS_10,ISO_A2,ISO_A2_EH,ISO_A3,ISO_A3_EH,ISO_N3,ISO_N3_EH,UN_A3,WB_A2,WB_A3,WOE_ID,WOE_ID_EH,WOE_NOTE,ADM0_ISO,ADM0_DIFF,ADM0_TLC,ADM0_A3_US,ADM0_A3_FR,ADM0_A3_RU,ADM0_A3_ES,ADM0_A3_CN,ADM0_A3_TW,ADM0_A3_IN,ADM0_A3_NP,ADM0_A3_PK,ADM0_A3_DE,ADM0_A3_GB,ADM0_A3_BR,ADM0_A3_IL,ADM0_A3_PS,ADM0_A3_SA,ADM0_A3_EG,ADM0_A3_MA,ADM0_A3_PT,ADM0_A3_AR,ADM0_A3_JP,ADM0_A3_KO,ADM0_A3_VN,ADM0_A3_TR,ADM0_A3_ID,ADM0_A3_PL,ADM0_A3_GR,ADM0_A3_IT,ADM0_A3_NL,ADM0_A3_SE,ADM0_A3_BD,ADM0_A3_UA,ADM0_A3_UN,ADM0_A3_WB,CONTINENT,REGION_UN,SUBREGION,REGION_WB,NAME_LEN,LONG_LEN,ABBREV_LEN,TINY,HOMEPART,MIN_ZOOM,MIN_LABEL,MAX_LABEL,LABEL_X,LABEL_Y,NE_ID,WIKIDATAID,NAME_AR,NAME_BN,NAME_DE,NAME_EN,NAME_ES,NAME_FA,NAME_FR,NAME_EL,NAME_HE,NAME_HI,NAME_HU,NAME_ID,NAME_IT,NAME_JA,NAME_KO,NAME_NL,NAME_PL,NAME_PT,NAME_RU,NAME_SV,NAME_TR,NAME_UK,NAME_UR,NAME_VI,NAME_ZH,NAME_ZHT,FCLASS_ISO,TLC_DIFF,FCLASS_TLC,FCLASS_US,FCLASS_FR,FCLASS_RU,FCLASS_ES,FCLASS_CN,FCLASS_TW,FCLASS_IN,FCLASS_NP,FCLASS_PK,FCLASS_DE,FCLASS_GB,FCLASS_BR,FCLASS_IL,FCLASS_PS,FCLASS_SA,FCLASS_EG,FCLASS_MA,FCLASS_PT,FCLASS_AR,FCLASS_JP,FCLASS_KO,FCLASS_VN,FCLASS_TR,FCLASS_ID,FCLASS_PL,FCLASS_GR,FCLASS_IT,FCLASS_NL,FCLASS_SE,FCLASS_BD,FCLASS_UA,geometry
0,Admin-0 country,1,6,Fiji,FJI,0,2,Sovereign country,1,Fiji,FJI,0,Fiji,FJI,0,Fiji,FJI,0,Fiji,Fiji,FJI,Fiji,None,Fiji,FJ,Republic of Fiji,None,Fiji,None,None,Fiji,None,5,1,2,2,889953.0,11,2019,5496,2019,6. Developing region,4. Lower middle income,FJ,FJ,FJ,FJI,FJI,242,242,242,FJ,FJI,23424813,23424813,Exact WOE match as country,FJI,None,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,FJI,-99,-99,Oceania,Oceania,Melanesia,East Asia & Pacific,4,4,4,-99,1,0.0,3.0,8.0,177.975427,-17.826099,1159320625,Q712,فيجي,ফিজি,Fidschi,Fiji,Fiyi,فیجی,Fidji,Φίτζι,פיג'י,फ़िजी,Fidzsi-szigetek,Fiji,Figi,フィジー,피지,Fiji,Fidżi,Fiji,Фиджи,Fiji,Fiji,Фіджі,فجی,Fiji,斐济,斐濟,Admin-0 country,None,Admin-0 country,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((180 -16.06713, 180 -16.55522, ..."
1,Admin-0 country,1,3,United Republic of Tanzania,TZA,0,2,Sovereign country,1,United Republic of Tanzania,TZA,0,Tanzania,TZA,0,Tanzania,TZA,0,Tanzania,Tanzania,TZA,Tanzania,None,Tanz.,TZ,United Republic of Tanzania,None,Tanzania,None,None,Tanzania,None,3,6,2,2,58005463.0,16,2019,63177,2019,7. Least developed region,5. Low income,TZ,TZ,TZ,TZA,TZA,834,834,834,TZ,TZA,23424973,23424973,Exact WOE match as country,TZA,None,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,TZA,-99,-99,Africa,Africa,Eastern Africa,Sub-Saharan Africa,8,8,5,-99,1,0.0,3.0,8.0,34.959183,-6.051866,1159321337,Q924,تنزانيا,তানজানিয়া,Tansania,Tanzania,Tanzania,تانزانیا,Tanzanie,Τανζανία,טנזניה,तंज़ानिया,Tanzánia,Tanzania,Tanzania,タンザニア,탄자니아,Tanzania,Tanzania,Tanzânia,Танзания,Tanzania,Tanzanya,Танзанія,تنزانیہ,Tanzania,坦桑尼亚,坦尚尼亞,Admin-0 country,None,Admin-0 country,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"POLYGON ((33.90371 -0.95, 34.07262 -1.05982, 3..."
2,Admin-0 country,1,7,Western Sahara,SAH,0,2,Indeterminate,1,Western Sahara,SAH,0,Western Sahara,SAH,0,Western Sahara,SAH,1,W. Sahara,Western Sahara,B28,W. Sahara,None,W. Sah.,WS,Sahrawi Arab Democratic Republic,None,Western Sahara,None,Self admin.; Claimed by Morocco,Western Sahara,None,4,7,4,4,603253.0,11,2017,907,2007,7. Least developed region,5. Low income,WI,EH,EH,ESH,ESH,732,732,732,-99,-99,23424990,23424990,Exact WOE match as country,B28,None,B28,SAH,MAR,SAH,SAH,SAH,SAH,MAR,SAH,SAH,SAH,SAH,SAH,SAH,MAR,MAR,SAH,MAR,SAH,SAH,SAH,SAH,SAH,MAR,MAR,MAR,SAH,SAH,MAR,SAH,SAH,SAH,-99,-99,Africa,Africa,Northern Africa,Middle East & North Africa,9,14,7,-99,1,4.7,6.0,11.0,-12.630304,23.967592,1159321223,Q6250,الصحراء الغربية,পশ্চিম সাহারা,Westsahara,Western Sahara,Sahara Occidental,صحرای غربی,Sahara occidental,Δυτική Σαχάρα,סהרה המערבית,पश्चिमी सहारा,Nyugat-Szahara,Sahara Barat,Sahara Occidentale,西サハラ,서사하라,Westelijke Sahara,Sahara Zachodnia,Sara Ocidental,Западная Сахара,Västsahara,Batı Sahra,Західна Сахара,مغربی صحارا,Tây Sahara,西撒哈拉,西撒哈拉,Admin-0 dependency,None,Admin-0 dependency,None,Unrecognized,None,None,None,None,Unrecognized,None,None,None,None,None,None,Unrecognized,Unrecognized,None,Unrecognized,None,None,None,None,None,Unrecognized,Unrecognized,Unrecognized,None,None,Unrecognized,None,None,None,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,Admin-0 country,1,2,Canada,CAN,0,2,Sovereign country,1,Canada,CAN,0,Canada,CAN,0,Canada,CAN,0,Canada,Canada,CAN,Canada,None,Can.,CA,Canada,None,Canada,None,None,Canada,None,6,6,2,2,37589262.0,15,2019,1736425,2019,1. Developed region: G7,1. High income: OECD,CA,CA,CA,CAN,CAN,124,124,124,CA,CAN,23424775,23424775,Exact WOE match as country,CAN,None,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,CAN,-99,-99,North America,Americas,Northern America,North America,6,6,4,-99,1,0.0,1.7,5.7,-101.910700,60.324287,1159320467,Q16,كندا,কানাডা,Kanada,Canada,Canadá,کانادا,Canada,Καναδάς,קנדה,कनाडा,Kanada,Kanada,Canada,カナダ,캐나다,Canada,Kanada,Canadá,Канада,Kanada,Kanada,Канада,کینیڈا,Canada,加拿大,加拿大,Admin-0 country,None,Admin-0 country,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-122.84 49, -122.97421 49.0025..."
4,Admin-0 country,1,2,United States of America,US1,1,2,Country,1,United States of America,USA,0,United States of America,USA,0,United States,USA,0,United States of America,United States,USA,United States,None,U.S.A.,US,United States of America,None,United States,None,None,United States of America,None,4,5,1,1,328239523.0,17,2019,21433226,2019,1. Developed region: G7,1. High income: OECD,US,US,US,USA,USA,840,840,840,US,USA,23424977,23424977,Exact WOE match as country,USA,None,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,USA,-99,-99,North America,Americas,Northern America,North America,24,13,6,-99,1,0.0,1.7,5.7,-97.482602,39.538479,1159321369,Q30,الولايات المتحدة,মার্কিন যুক্তরাষ্ট্র,Vereinigte Staaten,United States of America,Estados Unidos,ایالات متحده آمریکا,États-Unis,Ηνωμένες Πολιτείες Αμερικής,ארצות הברית,संयुक्त राज्य अमेरिका,Amerikai Egyesült Államok,Amerika Serikat,Stati Uniti d'America,アメリカ合衆国,미국,Verenigde Staten van Amerika,Stany Zjednoczone,Estados Unidos,США,USA,Amerika Birleşik Devletleri,Сполучені Штати Америки,ریاستہائے متحدہ امریکا,Hoa Kỳ,美国,美國,Admin-0 country,None,Admin-0 country,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,"MULTIPOLYGON (((-122.84 49, -120 49, -117.0312..."

In [58]:
q2 = world[['ADM0_A3', 'SOVEREIGNT']]
q2.head(3)

  ADM0_A3                   SOVEREIGNT
0     FJI                         Fiji
1     TZA  United Republic of Tanzania
2     SAH               Western Sahara

In [59]:
zebi2 = world[['SOVEREIGNT', 'SOV_A3', 'SU_A3']]

cross = zebi2.merge(noc_medals,
left_on = "SU_A3",
right_on = 'NOC',
how = "outer")

cross.head(5)

    SOVEREIGNT SOV_A3 SU_A3  NOC       region                 notes
0  Afghanistan    AFG   AFG  AFG  Afghanistan                   NaN
1       Angola    AGO   AGO  NaN          NaN                   NaN
2          NaN    NaN   NaN  AHO      Curacao  Netherlands Antilles
3      Albania    ALB   ALB  NaN          NaN                   NaN
4          NaN    NaN   NaN  ALG      Algeria                   NaN

In [65]:
# on sélectionne les lignes où NOC = NA
first = cross[cross['NOC'].isna()]
first.head(5)

              SOVEREIGNT SOV_A3 SU_A3  NOC region notes
1                 Angola    AGO   AGO  NaN    NaN   NaN
3                Albania    ALB   ALB  NaN    NaN   NaN
6   United Arab Emirates    ARE   ARE  NaN    NaN   NaN
9             Antarctica    ATA   ATA  NaN    NaN   NaN
10                France    FR1   ATF  NaN    NaN   NaN

In [66]:
second = cross[cross['SU_A3'].isna()]
second.head(5)

   SOVEREIGNT SOV_A3 SU_A3  NOC     region                 notes
2         NaN    NaN   NaN  AHO    Curacao  Netherlands Antilles
4         NaN    NaN   NaN  ALG    Algeria                   NaN
5         NaN    NaN   NaN  ANZ  Australia           Australasia
14        NaN    NaN   NaN  BAH    Bahamas                   NaN
15        NaN    NaN   NaN  BAR   Barbados                   NaN

In [62]:
# pour obtenir la liste de 'region' :

unique_region = first['SOVEREIGNT'].tolist()
unique_region

['Angola',
 'Albania',
 'United Arab Emirates',
 'Antarctica',
 'France',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'The Bahamas',
 'Bosnia and Herzegovina',
 'Belize',
 'Bolivia',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Switzerland',
 'Chile',
 'Democratic Republic of the Congo',
 'Republic of the Congo',
 'Costa Rica',
 'Northern Cyprus',
 'Germany',
 'Denmark',
 'Algeria',
 'Fiji',
 'United Kingdom',
 'Guinea',
 'Gambia',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Denmark',
 'Guatemala',
 'Honduras',
 'Croatia',
 'Haiti',
 'Indonesia',
 'Iran',
 'Cambodia',
 'Kuwait',
 'Laos',
 'Lebanon',
 'Liberia',
 'Libya',
 'Sri Lanka',
 'Lesotho',
 'Latvia',
 'Madagascar',
 'Mali',
 'Myanmar',
 'Mongolia',
 'Mauritania',
 'Malawi',
 'Malaysia',
 'France',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Nepal',
 'Oman',
 'Philippines',
 'Papua New Guinea',
 'Portugal',
 'United States of America',
 'Paraguay',
 'Israel',
 'Rwanda',
 'Western Sahara',
 'Saudi Arabia',
 'Sudan',
 'South Sudan',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'Somaliland',
 'Somalia',
 'Slovenia',
 'eSwatini',
 'Chad',
 'Togo',
 'Turkmenistan',
 'East Timor',
 'Taiwan',
 'United Republic of Tanzania',
 'Uruguay',
 'Vietnam',
 'Vanuatu',
 'Yemen',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [63]:
# On fait le merge de noc_medals et de world


zebi = world[['SOVEREIGNT', 'ISO_A3', "SU_A3", "SOV_A3"]]

T2 = zebi.merge(noc_medals,
left_on = "SU_A3",
right_on = "NOC",
how = "outer")
T2.head(5)

    SOVEREIGNT ISO_A3 SU_A3 SOV_A3  NOC       region                 notes
0  Afghanistan    AFG   AFG    AFG  AFG  Afghanistan                   NaN
1       Angola    AGO   AGO    AGO  NaN          NaN                   NaN
2          NaN    NaN   NaN    NaN  AHO      Curacao  Netherlands Antilles
3      Albania    ALB   ALB    ALB  NaN          NaN                   NaN
4          NaN    NaN   NaN    NaN  ALG      Algeria                   NaN

In [68]:
zebi3 = world[['SOVEREIGNT', 'SU_A3']]

Q6 = zebi3.merge(noc_medals,
left_on = "SOVEREIGNT",
right_on = "region",
how = "outer")

Q6.head(5)

    SOVEREIGNT SU_A3  NOC       region notes
0  Afghanistan   AFG  AFG  Afghanistan   NaN
1      Albania   ALB  NaN          NaN   NaN
2      Algeria   DZA  ALG      Algeria   NaN
3       Angola   AGO  NaN          NaN   NaN
4   Antarctica   ATA  NaN          NaN   NaN

In [ ]:
pd.set_option('display.max_rows', True)

In [ ]:
pd.reset_option('display.max_rows')

In [ ]:
T1 = world[['SU_A3','SOVEREIGNT']]
T1

    SU_A3                   SOVEREIGNT
0     FJI                         Fiji
1     TZA  United Republic of Tanzania
2     SAH               Western Sahara
3     CAN                       Canada
4     USA     United States of America
..    ...                          ...
172   SRB           Republic of Serbia
173   MNE                   Montenegro
174   KOS                       Kosovo
175   TTO          Trinidad and Tobago
176   SDS                  South Sudan

[177 rows x 2 columns]

In [ ]:
merged = T1.merge(noc_regions,
left_on = 'SU_A3',
right_on = 'NOC',
how = 'right')

# on fait un right join (on veut garder toutes les lignes de noc_regions et trouver les correspondances)

In [ ]:
merged.head(5)

  SU_A3   SOVEREIGNT  NOC       region                 notes
0   AFG  Afghanistan  AFG  Afghanistan                   NaN
1   NaN          NaN  AHO      Curacao  Netherlands Antilles
2   ALB      Albania  ALB      Albania                   NaN
3   NaN          NaN  ALG      Algeria                   NaN
4   NaN          NaN  AND      Andorra                   NaN