In [5]:
import pandas as pd

noc_regions = pd.read_csv("noc_regions.csv")
athletes = pd.read_csv("athlete_events.csv")

In [6]:
athletes

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [7]:
merged = athletes.merge(noc_regions,
on = 'NOC',
how = 'left')

In [8]:
merged

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN,Poland,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN,Poland,NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN,Poland,NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN,Poland,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN,Poland,NaN

In [ ]:
merged[merged['notes'] == 'Hong Kong']

['Medal'].dropna()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
10753,5885,Au Sin Ying,F,23.0,167.0,66.0,Hong Kong,HKG,2012 Summer,2012,Summer,London,Fencing,"Fencing Women's Sabre, Individual",NaN,China,Hong Kong
10754,5886,"Hoi Shun ""Stephanie"" Au",F,16.0,172.0,56.0,Hong Kong,HKG,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Women's 200 metres Freestyle,NaN,China,Hong Kong
10755,5886,"Hoi Shun ""Stephanie"" Au",F,16.0,172.0,56.0,Hong Kong,HKG,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Women's 400 metres Freestyle,NaN,China,Hong Kong
10756,5886,"Hoi Shun ""Stephanie"" Au",F,16.0,172.0,56.0,Hong Kong,HKG,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Women's 800 metres Freestyle,NaN,China,Hong Kong
10757,5886,"Hoi Shun ""Stephanie"" Au",F,20.0,172.0,56.0,Hong Kong,HKG,2012 Summer,2012,Summer,London,Swimming,Swimming Women's 100 metres Backstroke,NaN,China,Hong Kong
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266614,133371,Yu Wai Seung,F,20.0,NaN,NaN,Hong Kong,HKG,1992 Summer,1992,Summer,Barcelona,Judo,Judo Women's Half-Lightweight,NaN,China,Hong Kong
266616,133373,Yu Weili,F,29.0,147.0,53.0,Hong Kong,HKG,2012 Summer,2012,Summer,London,Weightlifting,Weightlifting Women's Featherweight,NaN,China,Hong Kong
266650,133390,Yu Yuet,M,24.0,173.0,65.0,Hong Kong,HKG,2000 Summer,2000,Summer,Sydney,Diving,Diving Men's Springboard,NaN,China,Hong Kong
266711,133426,"Shu Kee ""Steve"" Yuen",M,24.0,170.0,58.0,Hong Kong,HKG,1984 Summer,1984,Summer,Los Angeles,Archery,Archery Men's Individual,NaN,China,Hong Kong
266840,133505,Yung Yim King,F,29.0,152.0,50.0,Hong Kong,HKG,1988 Summer,1988,Summer,Seoul,Fencing,"Fencing Women's Foil, Individual",NaN,China,Hong Kong

In [2]:
noc_regions

     NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [13]:
import pandas as pd

# 1) Calculer le nombre de NOC par rÃ©gion
counts = noc_regions.groupby('region')['NOC'].nunique()

# 2) Garder les rÃ©gions avec plus dâ€™un NOC
dup_regions = counts[counts > 1].index

# 3) Filtrer et afficher
multi_noc = noc_regions[noc_regions['region'].isin(dup_regions)] \
              .sort_values('region') \
              .reset_index(drop=True)

print(multi_noc)

    NOC          region                   notes
0   ANZ       Australia             Australasia
1   AUS       Australia                     NaN
2   CAN          Canada                     NaN
3   NFL          Canada            Newfoundland
4   CHN           China                     NaN
5   HKG           China               Hong Kong
6   CZE  Czech Republic                     NaN
7   TCH  Czech Republic                     NaN
8   BOH  Czech Republic                 Bohemia
9   FRG         Germany                     NaN
10  GDR         Germany                     NaN
11  GER         Germany                     NaN
12  SAA         Germany                     NaN
13  CRT          Greece                   Crete
14  GRE          Greece                     NaN
15  MAL        Malaysia                     NaN
16  MAS        Malaysia                     NaN
17  NBO        Malaysia            North Borneo
18  URS          Russia                     NaN
19  RUS          Russia                     NaN
20  EUN          Russia                     NaN
21  SCG          Serbia   Serbia and Montenegro
22  SRB          Serbia                     NaN
23  YUG          Serbia              Yugoslavia
24  SYR           Syria                     NaN
25  UAR           Syria    United Arab Republic
26  TTO        Trinidad     Trinidad and Tobago
27  WIF        Trinidad  West Indies Federation
28  VIE         Vietnam                     NaN
29  VNM         Vietnam                     NaN
30  YEM           Yemen                     NaN
31  YAR           Yemen             North Yemen
32  YMD           Yemen             South Yemen
33  RHO        Zimbabwe                     NaN
34  ZIM        Zimbabwe                     NaN

In [12]:
noc_regions[noc_regions['region']=='China']

    NOC region      notes
41  CHN  China        NaN
88  HKG  China  Hong Kong